


*{
	

/*google fonts*/
	font-family: 'Open Sans', sans-serif;
	/*css reset*/
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*you can use none*/
}

body{
padding-top: 50px;

}

h1{
display: inline-block;
	color: blue;
	text-align: center;
	/*font-size: 10rem;*/ /*16 px * 10 */



}

#h1-container{
	width: 70%;
	/*text-align: center;*/
}

div{
	display: inline;
}

#box{
	height: 150px;
	width: 150px;
	padding: 50px;
	border: 10px solid black; /*short hand property : size, style/type, color*/
	background-color: orange;

}
#box2{
	height: 150px;
	width: 150px;
	padding: 5px 15px 20px 10px; /*shorthand TRBL Top right bottom left
	/*padding: 50px;*/
	border: 10px solid darkgray;
}


#myButton{

	margin-top: 10px;

		border: 2px solid blue;
		padding: 10px;
		color: white;
		background-color: #333;
		border-radius: 50px;


}

#container{
	display: inline;
	
}


#sidebar{
	display: inline-block;
	height: 80vh;
	background-color: green;
	width: 80vw;
	padding: 10px;

}

#content{
	display: inline-block;
	margin-left: 100px;

}


#paragraph{
	text-align: center;
}