/**/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;

}

body{
	height: 100vh;
}

 main{
	margin-top: 100px;
  margin-bottom:0px;
} 

h1{
	text-align: center;
	margin: 0px 0px 80px 0px;
	font-size:40px ;
}

#container{

	display: block;
/* 	align-items: center;
	justify-content: center; */
margin: 50px 50px 100px 50px;
	

	height: 60vh;



}

.content{


text-align: left;

}

.content h3{
	margin: 0px 0px 20px 0px;
	/*font-weight: 30px;*/
	font-size: 25px;


}

.content p{

	margin: 0px 0px 20px 0px;

}



#pre-footer{


background-color: #1d2951;
	color: white ;
	border: 1px solid #1d2951;
	height: 140px;
  width:100vw; 

/* 	border: 1px solid #1d2951;
	height: 140px;
width:100vw; */
}
.list {

display:inline;
}

.list ul{
  margin: 15px 140px 5px 5px;
padding: 0px;
display: inline-block;
}

.list li{
  list-style: none;
font-size:14px;

}

 ul a{
	color: white; 
	text-decoration: none;
} 

.list-3{
margin-top: 40px;

}

h4{
	margin-bottom: 3px;
	text-decoration: bold;
	font-size: 18px;

}


/*footer*/

footer{

 display: flex;
 align-items: center;


	 height: 5vh; 
	
}

footer p{
	
margin: 2px 5px 2px 5px;
	text-align: right;
}



